@inject IFileReader fileReader
@inject HttpClient Http

<div class="row">
    <div class="col-md-6 code-container">
        @if (!string.IsNullOrEmpty(content))
        {
            <code>
                @content
            </code>
        }
        else
        {
            Console.WriteLine("No content");
        }

    </div>
    <div class="col-md-6 code-container">
        @if (!string.IsNullOrEmpty(content))
        {
            <code>
                @content
            </code>
        }
        else
        {
            Console.WriteLine("No content");
        }

    </div>
</div>




@code {
    string content = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        content = await Http.GetStringAsync("sample-data/weather.json");
    }
}