@inject IFileReader fileReader
@inject HttpClient Http

<div class="row">
    <div class="col-md-12 code-container">
        @if (!string.IsNullOrEmpty(content))
        {
            <code>
                @for (int i = 0; i < lines.Count; i++)
                {
                    <div>
                        <span class="col-sm-1 code-line-number">@(i + 1)</span>
                        <span class="col-sm-11 code-line">@lines[i]</span><br/>
                    </div>
                    @if (difference.ContainsKey(i))
                    {
                    <div class="difference-added">
                        <span class="col-sm-1 code-line"><i class="bi bi-plus"></i></span>
                        <span class="col-sm-11 code-line">@difference[i]</span><br/>    
                    </div>
                    }
                }
            </code>
        }
        else
        {
            Console.WriteLine("No content");
        }

    </div>
</div>




@code {
    string content = string.Empty;
    string reference = string.Empty;
    List<string> lines = new List<string>();

    Dictionary<int, string> difference = new Dictionary<int, string>();
    List<string> noDifference = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        content = await Http.GetStringAsync("sample-data/weather.json");
        reference = await Http.GetStringAsync("sample-data/reference.json");

        lines = fileReader.ReadFileLineByLine(content);

        (noDifference, difference) = fileReader.CompareFileLineByLine(lines, reference);

        foreach (var item in difference)
        {
            Console.WriteLine(item);
        }
    }
}