@inject IFileReader fileReader

<div class="col-md-12">
    <h3>Result</h3>
    @((MarkupString)markdownHtml)
</div>

@code {

    

    string markdownValue = "#Markdown Editor\nThis is a test";
    string markdownHtml = string.Empty;

    protected override void OnInitialized()
    {
        fileReader.ReadFileLineByLine();
        markdownHtml = Markdig.Markdown.ToHtml(markdownValue ?? string.Empty);
        base.OnInitialized();
    }

    Task OnMarkdownValueChanged(string value)
    {
        return Task.CompletedTask;
    }

    Task OnMarkdownValueHTMLChanged(string value)
    {
        markdownHtml = value;
        return Task.CompletedTask;
    }
}