@inject IFileReader fileReader
@inject HttpClient Http

<div class="row">
    <div class="col-md-6 mr-2 code-container">
        @if (!string.IsNullOrEmpty(content))
        {
            <code>
                @for (int i = 0; i < lines.Count; i++)
                {
                    <div>
                        <span class="col-sm-1 code-line-number">@(i + 1)</span>
                        <span class="col-sm-11 code-line">@lines[i]</span><br/>
                    </div>
                    @if (difference.ContainsKey(i + 1))
                    {
                        <div class="difference-added">
                            <span class="col-sm-2 code-line-number"><i class="bi bi-plus"></i></span>
                            <span class="col-sm-10 code-line">@difference[i + 1]</span><br/>    
                        </div>
                    }
                }
            </code>
        }
        else
        {
            Console.WriteLine("No content");
        }
    </div>
    <div class="col-md-6 analysis-block">
        <div>
            <h4>File Name</h4>
        </div>
        <div class="">
            <h4>Contained Lines</h4>
            ...
        </div>
        <div class="">
            <h4>Doesn't Contain</h4>
            ...
        </div>
    </div>
</div>
<div class="row mt-2">
    <button class="btn btn-info">
        <i class="bi bi-file-arrow-up"></i>
        Upload File
    </button>
</div>




@code {
    string content = string.Empty;
    string reference = string.Empty;
    List<string> lines = new List<string>();

    Dictionary<int, string> difference = new Dictionary<int, string>();
    List<string> noDifference = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        content = await Http.GetStringAsync("sample-data/weather.json");
        reference = await Http.GetStringAsync("sample-data/reference.json");

        lines = fileReader.ReadFileLineByLine(content);

        foreach (var item in difference)
        {
            Console.WriteLine(item);
        }
    }
}