code {
    color: rgb(0, 0, 0);
}

.difference-added {
    background-color: rgb(230, 255, 221);
    color: rgb(23, 170, 0);
}

.code-container {
    background-color: #fcfcfc;
    border-radius: 5px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: #999 1px solid;
    padding: 10px;
}

.code-container a, .code-container span, .code-container tr, .code-container td { white-space: pre; color: rgb(122, 0, 122); }

.code-line-number {
    color: #999 !important;
    display: inline-block;
    width: 30px;
    text-align: right;
    padding-right: 20px;
}