@inject IFileReader fileReader
@inject HttpClient Http

<div class="row">
    <div class="col-md-12 code-container">
        @if (!string.IsNullOrEmpty(content))
        {
            <code>
                @for (int i = 0; i < lines.Count; i++)
                {
                    @foreach (var line in lines)
                    {
                        <div class="row">
                            <div>@(i + 1)</div>
                            <pre>@line</pre>
                        </div>
                    }
                }
            </code>
        }
        else
        {
            Console.WriteLine("No content");
        }

    </div>
</div>




@code {
    string content = string.Empty;
    List<string> lines = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        content = await Http.GetStringAsync("sample-data/weather.json");
        lines = fileReader.ReadFileLineByLine(content);

        Console.WriteLine(lines.Count);
    }
}